.page-content{
  min-height: 500px;
}
.movingcontent {
    width: 100%;
    height: 25px;
    margin-bottom: 2px;
    overflow: hidden;
}
.home {
    position: relative;
}

.movingcontent {
    background: #00355f;
    color: whitesmoke;
}

.movingcontent div {
    line-height: 0px;
    font-size: 14px;
}
/*enquiryform*/

.enquiryform {
    position: absolute;
    top: 46%;
    width: 50%;
    left: 25%;
    background: rgba(9, 28, 44, 0.82);
    border-radius: 10px;
    padding-bottom: 9px;
}

.enquiryform .enquirytype {
    border-radius: 4px;
    color: whitesmoke;
    text-align: center;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba(245, 245, 245, 0.29);
}

.enquiryform .enquirytype div {
    width: 50%;
    float: left;
    height: 100%;
    line-height: 40px;
    cursor: pointer;
}

.enquiryform .enquirytype div:hover {
    color: #ffd205;
    background: #00355f;
    border-radius: 2px;
}

.enquiryform .enquirytype .select {
    color: #ffd205;
    background: #00355f;
    border-radius: 2px;
}

.enquiryform .enquirycontrol {
    padding: 5% 2%;
}

.enquiryform .enquirycontrol .control-group {
    display: block;
    width: 100%;
    margin: 15px 0;
}

.enquiryform .enquirycontrol .control-group .control {
    display: inline-block;
    width: 32%;
    padding: 0 15px;
}

.enquiryform .enquirycontrol .control-group .control input,
.enquiryform .enquirycontrol .control-group .control select {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(245, 245, 245, 0.29);
    background: transparent;
    color: whitesmoke;
    font-size: medium;
    font-weight: 500;
}

.enquiryform .enquirycontrol .control-group .control option {
    background: #00355f;
}

.enquiryform .enquirycontrol .control-group .control input:focus {
    border-bottom: 1px solid whitesmoke;
}

.enquiryform .enquirycontrol .control-group .controlname {
    color: whitesmoke;
    font-size: small;
}

.enquiryform .enquirycontrol .control-group .inputcontrol {
    margin-top: 3%;
    position: relative;
}

.enquiryform .enquirycontrol .control-group button {
    float: right;
    margin-right: 2%;
    width: 15%;
    border-radius: 4px;
    min-width: 65px;
}


.enquiryform .enquirycontrol .control-group .control .inputcontrol .error-msg {
    position: absolute;
    background: rgba(255, 14, 0, 0.65);
    border-radius: 3px;
    padding: 1px 5px;
    top: 10px;
    min-height: 18px;
    min-width: 100%;
    font-size: 12px;
    text-align: left;
    color: whitesmoke;
}

.Error {
    color: red;
    font-size: 12px;
}

@media (max-width:600px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    .enquiryform {
        position: static;
        width: 100%;
        margin: 8px 0 10px 0;
        padding-bottom: 30px;
    }
    .enquiryform .enquirycontrol .control-group {
        padding: 0px;
        margin: 15px 0;
    }
    .enquiryform .enquirycontrol .control-group .control {
        display: block;
        width: 90%;
        left: 5%;
        padding: 10px 5%;
    }
    .enquiryform .enquirycontrol .control-group .control .inputcontrol select {
        width: 100%;
        height: 27px;
    }
    .enquiryform .enquirycontrol .control-group .control .inputcontrol .error-msg {
        min-width: 100%;
    }
}
@media (max-width:950px) and (min-width:600px) {
    .enquiryform {
        top: 36%;
        width: 90%;
        left: 5%;
    }
}
