<div class="page-content" *ngIf="this.APIService.LoadPage">
    <div class="aboutus">

        <h1>{{AboutUsPageHeader}}</h1>
        <p>{{AboutUsText}}</p>
        <div class="service">
            <div class="content">
                <div class="fadedown">
                    <p class="nghf ngh-car">
                        <p class="slogan" [innerHtml]=TravelSolganText></p>
                </div>
            </div>
            <div class="content">
                <div class="fadedown">
                    <p class="nghff nghff-palace">
                        <p class="slogan" [innerHtml]=TourSloganText></p>
                </div>
            </div>
        </div>
    </div>
</div>